body{
    color: blue;
    background-color: beige;
}
/*p{
    font-size: xx-large;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}*/
@media (max-width: 600px) {
    img{
        width: 100%;
        height: auto;
    }
}
img{
    width: 500px;
    height: 500px;
}
video{
    height: 500px;
}
ol{
    list-style-type: upper-roman;
}
ul{
    list-style-type: none;
}
button{
    background-color: lightgreen;
    padding: 20px;
    margin: 20px;
}
button:hover{
    background-color: lightblue;
}
h1{
    padding: 50px;
    border: 3px solid black;
    margin: 50px;
}
nav{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 1024px) {
    nav{
        display: flex;
        flex-direction: row;
        gap: 50px;
    }
}
#p1{
    font-style: italic;
}
#p2{
    font-style: normal;
}
.group{
    font-size: xx-large;
}
.grid{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
@media (max-width: 600px) {
    .grid{
        display: grid;
    }
}